$green: #2a676b;
$white: #ffffff;
$black: #000000;
$orange: #f2994a;
$light-green: #f8fffb; // bg footer
$red: #eb5757;
$yellow: #efb621;
$light-yellow: #e1df00;
$brown: #e3c886;
$border-gray: #dcdddd;
$lighter-gray: #f7f8f8;

// Color
$dark-gray: #383838;
$semi-gray: #4b4b4b; // main color
$regular-gray: #818382;
$light-gray: #bebfbf;

// font size
$font-size-xx-large: 32px;
$font-size-x-large: 22px;
$font-size-larger: 20px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;

// font weight
$font-weight-bold: 600;
$font-weight-medium: 500;

// box shadow
$box-shadow-primary: 3px 4px 15px #e8e7e7; // used for block, wrapper
$box-shadow-secondary: 8px 8px 25px 0 rgb(0 0 0 / 8%); // used for product inline
$box-shadow-tertiary: 0px 4px 12px rgba(9, 39, 39, 0.16); // used for header
